<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello!</title>
  </head>
  <body>
    <h1>Hello {{name}}!</h1>
    <div>
      <a href="/">Home</a>
      <a href="/nested/about">About</a>
      <a href="/hello?name=owen">Parameter test</a>
    </div>
    <p>This page reads from the "name" query parameter</p>
  </body>
</html>