<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <div>
      <a href="/">Home</a>
      <a href="/nested/about">About</a>
      <a href="/hello?name=owen">Parameter test</a>
    </div>
    <p>You're viewing the app root.</p>
  </body>
</html>