<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About</title>
</head>
  <body>
    <h1>About</h1>
    <div>
      <a href="/">Home</a>
      <a href="/nested/about">About</a>
      <a href="/hello?name=owen">Parameter test</a>
    </div>
    <p>This is a nested route</p>
  </body>
</html>